.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.action-buttons > button {
  margin: 15px;
  padding: 15px 25px;
  width: 300px;
  font-size: 1.25em;
}

.quick-button {
  cursor: pointer;
  height: 150px;
  width: 220px;
  border: 6px solid black;
  padding: 4px;
  box-shadow: 2px 2px 15px -2px rgba(0, 0, 0, 0.85);
  margin-bottom: 10px;
  transition: border 0.5s;
}

.quick-button:hover{
  border-color: orange;
}
